:root{
  --dark-dark-bg: #1c1f26;
  --dark-text: #d8dee9;
  --dark-bg: #2e3440;
  --dark-medium-bg: #3e4552;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.dark {
  background-color: var(--dark-dark-bg);
  color: var(--dark-text);
}

.dark code {
  background-color: var(--dark-bg);
}

.dark button {
  background-color: var(--dark-medium-bg)!important;
  color: var(--dark-text);
}

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  padding: 2px;
}
.editor-container {
  flex-grow: 1;
  width: 100%;
}

.main > * {
  width: 100%;
}

.CodeMirror { 
  flex-grow: 1;
}

.editor {
  min-height: 150px;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.editor, code {
  width: 100%;
  border: 1px solid #ababab;
}
code {
  padding: 1rem;
}

.editor:focus {
  outline: 1px solid #dadada;
}

.console-container {
  display: flex;
  padding: 1rem 0;
  flex-basis: 20%;  
  flex-shrink: 0;
}

.console-container nav {
  width: 5%;
  min-width: 60px;
  display: flex;
  flex-direction: column;
}

.console-container nav button {
  padding: 0.5rem;
  background-color: transparent;
  border: 1px solid #ababab;
}

.console-container nav button:nth-child(2) {
  margin-top: 1rem;
}

.console-container code {
  flex-grow: 1;
  height: auto;
  margin-left: 1rem;
  max-height: 300px;
  overflow: auto;
}

.fade-in {
  animation: fadeIn 1s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.error {
  color: red;
}